# Enviroment variales
.env

#+ # Ignore application properties files                                                           │
/src/main/resources/application.properties                                                      │
/src/main/resources/application-local.properties                                                │
/src/main/resources/application-production.properties  


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Random stuff
 .DS_Store

 node_modules
 node_modules/

# iCloud duplicate edge cases
*.properties 2
*.properties 3
*application.properties 2
*application-local.properties 2
.env 2
.env 3
*.env 2
*.pem 2
*.key 2
*credentials*.json 2
